<launch>
  <arg name="setting_dir" default="settings"
       doc="Directory path of setting files" />
  <group>
    <!-- Joint name and motor ID mapping -->
    <rosparam command="load"
              file="$(find aria_utils)/$(arg setting_dir)/id_map.yaml"
              ns="/id_map"/>
    <!-- Joint angles of init pose -->
    <rosparam command="load"
              file="$(find aria_utils)/$(arg setting_dir)/initial_pose.yaml"
              ns="/initial_pose"/>
    <!-- PID gain for each joints -->
    <rosparam command="load"
              file="$(find aria_utils)/$(arg setting_dir)/pid_gain.yaml"
              ns="/pid_gain"/>

    <!--param type="str"
        value="$(find aria_utils)/scripts/aria_echo.sh"
        name="/sh_script"/-->

    <node pkg="aria_utils" type="initializer2.py" name="configurator"
          output="screen"/>
  </group>
</launch>
