<launch>
 <arg name="port" default="/dev/ttyUSB0" />

 <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
   <param name="baud" value="115200" />
   <param name="port" value="$(arg port)" />
 </node>

    <node pkg="ros2http"
	  type="imu_publisher.l"
	  name="imu_publisher" />
    <node pkg="ros2http"
	  type="kduino_imu_converter.l"
	  name="kduino_imu_converter" />
    <node pkg="ros2http"
	  type="ros2http_listener.sh"
	  name="ros2http_listener" output="screen" />
</launch>
